# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--<br>
**I94 Immigration data and city temperature data will be used to create a database that is optimized to query and analyze immigration events. An ETL pipeline is to be build with these to data sources to create the database. Finally, the database will be used to access immigration behaviour to location temperatures.**

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

### Importing Step
Installing **koalas pyarrow** to run **koalas** <br> and Importing libraries those I need.

In [1]:
!pip install koalas pyarrow

Requirement already satisfied: koalas in /opt/conda/lib/python3.6/site-packages (1.5.0)
Requirement already satisfied: pyarrow in /opt/conda/lib/python3.6/site-packages (2.0.0)
Requirement already satisfied: matplotlib<3.3.0,>=3.0.0 in /opt/conda/lib/python3.6/site-packages (from koalas) (3.2.2)
Requirement already satisfied: pandas>=0.23.2 in /opt/conda/lib/python3.6/site-packages (from koalas) (0.23.3)
Requirement already satisfied: numpy>=1.14 in /opt/conda/lib/python3.6/site-packages (from koalas) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib<3.3.0,>=3.0.0->koalas) (2.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.6/site-packages/cycler-0.10.0-py3.6.egg (from matplotlib<3.3.0,>=3.0.0->koalas) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib<3.3.0,>=3.0.0->koalas) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /opt/conda/lib/python3.6/site-packages (from matplotlib<3.3.0,>=3.0.0->koalas) (2.6.1)
Requirement already satisfied: pytz>=2011k in /opt/conda/lib/python3.6/site-packages (from pandas>=0.23.2->koalas) (2017.3)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from cycler>=0.10->matplotlib<3.3.0,>=3.0.0->koalas) (1.11.0)

In [2]:
# Do all imports and installs here
from pyspark.sql import SparkSession

import datetime

import numpy as np
import pandas as pd
import databricks.koalas as ks
%matplotlib inline
import matplotlib.pyplot as plt
import pyspark.sql.functions as F

WARNING:root:'ARROW_PRE_0_15_IPC_FORMAT' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=0.15 and pyspark<3.0. Koalas will set it for you but it does not work if there is a Spark context already launched.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>
<br>We would be creating 3 dimension tables and 1 fact table. I94 immigration data is to be aggregated by destination city, then temperature data is to be aggregated by city. These would be the 2 fact tables. Both these tables will be joined on destination city to form fact table. A final database will be created to query on immigration events to determine if temperature affects the selection of destination cities for immigration.
#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?<br> 
I used 3 different engine:<br>
* Koalas
* Pandas
* Pyspark
<br>The reason behind these engins is to show the optimization on reading and gathering Data.<br>
But almost the whole project has been done by **Koalas**.

In [7]:
%%time 

from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')
#df_spark = spark.createDataFrame(df)

CPU times: user 3.76 ms, sys: 3.94 ms, total: 7.7 ms
Wall time: 133 ms

%%time
# Read in the data here

path = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(path, 'sas7bdat', encoding="ISO-8859-1")

In [8]:
%%time 

kdf = ks.DataFrame(df_spark)

CPU times: user 33.9 ms, sys: 19.2 ms, total: 53.1 ms
Wall time: 521 ms

### Reading The second dataset `GlobalLandTemperaturesByCity.csv`

%%time

temp = '../../data2/GlobalLandTemperaturesByCity.csv'
df_tempratures = pd.read_csv(temp)

In [9]:
%%time 

df_spark_csv = spark.read.option("header",True).csv("../../data2/GlobalLandTemperaturesByCity.csv")
df_spark_csv.show()

+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|        dt| AverageTemperature|AverageTemperatureUncertainty| City|Country|Latitude|Longitude|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
|1743-11-01|              6.068|           1.7369999999999999|Århus|Denmark|  57.05N|   10.33E|
|1743-12-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-01-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-02-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-03-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-04-01| 5.7879999999999985|           3.6239999999999997|Århus|Denmark|  57.05N|   10.33E|
|1744-05-01|             10.644|           1.2830000000000001|Århus|Denmark|  57.05N|   10.33E|
|1744-06-01| 14.050999999999998|                        1.347|Århus|Denmark|  57.05N|   10.33E|
|1744-07-01|             16.082|                        1.396|Århus|Denmark|  57.05N|   10.33E|
|1744-08-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1744-09-01| 12.780999999999999|                        1.454|Århus|Denmark|  57.05N|   10.33E|
|1744-10-01|               7.95|                         1.63|Århus|Denmark|  57.05N|   10.33E|
|1744-11-01|  4.638999999999999|           1.3019999999999998|Århus|Denmark|  57.05N|   10.33E|
|1744-12-01|0.12199999999999987|                        1.756|Århus|Denmark|  57.05N|   10.33E|
|1745-01-01|-1.3330000000000002|                        1.642|Århus|Denmark|  57.05N|   10.33E|
|1745-02-01|             -2.732|                        1.358|Århus|Denmark|  57.05N|   10.33E|
|1745-03-01|              0.129|                        1.088|Århus|Denmark|  57.05N|   10.33E|
|1745-04-01|              4.042|                        1.138|Århus|Denmark|  57.05N|   10.33E|
|1745-05-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
|1745-06-01|               null|                         null|Århus|Denmark|  57.05N|   10.33E|
+----------+-------------------+-----------------------------+-----+-------+--------+---------+
only showing top 20 rows

CPU times: user 3.24 ms, sys: 349 µs, total: 3.59 ms
Wall time: 1.09 s

In [10]:
df_spark_csv.printSchema()

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: string (nullable = true)
 |-- AverageTemperatureUncertainty: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

In [11]:
%%time

kdf_tempratures = ks.DataFrame(df_spark_csv)

CPU times: user 22.3 ms, sys: 5.1 ms, total: 27.4 ms
Wall time: 271 ms

%%time 

temp = '../../data2/GlobalLandTemperaturesByCity.csv'
kdf_tempratures = ks.read_csv(temp)

Reading CSV files in `Pandas` more faster than `Koalas`.

### Step 2: Explore and Assess the Data
#### 1. Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### 2. Cleaning Steps
Document steps necessary to clean the data

### 1. Explore

In [12]:
kdf.head()

   cicid   i94yr  i94mon  i94cit  i94res i94port  arrdate  i94mode i94addr  depdate  i94bir  i94visa  count  dtadfile visapost occup entdepa entdepd entdepu matflag  biryear   dtaddto gender insnum airline        admnum  fltno visatype
0    6.0  2016.0     4.0   692.0   692.0     XXX  20573.0      NaN    None      NaN    37.0      2.0    1.0      None     None  None       T    None       U    None   1979.0  10282016   None   None    None  1.897628e+09   None       B2
1    7.0  2016.0     4.0   254.0   276.0     ATL  20551.0      1.0      AL      NaN    25.0      3.0    1.0  20130811      SEO  None       G    None       Y    None   1991.0       D/S      M   None    None  3.736796e+09  00296       F1
2   15.0  2016.0     4.0   101.0   101.0     WAS  20545.0      1.0      MI  20691.0    55.0      2.0    1.0  20160401     None  None       T       O    None       M   1961.0  09302016      M   None      OS  6.666432e+08     93       B2
3   16.0  2016.0     4.0   101.0   101.0     NYC  20545.0      1.0      MA  20567.0    28.0      2.0    1.0  20160401     None  None       O       O    None       M   1988.0  09302016   None   None      AA  9.246846e+10  00199       B2
4   17.0  2016.0     4.0   101.0   101.0     NYC  20545.0      1.0      MA  20567.0     4.0      2.0    1.0  20160401     None  None       O       O    None       M   2012.0  09302016   None   None      AA  9.246846e+10  00199       B2

In [13]:
kdf.info()

/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:406: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  FutureWarning,

databricks.koalas.frame.DataFrame
Index: 3096313 entries, 0 to 3096312
Data columns (total 28 columns):
cicid       3096313 non-null float64
i94yr       3096313 non-null float64
i94mon      3096313 non-null float64
i94cit      3096313 non-null float64
i94res      3096313 non-null float64
i94port     3096313 non-null object
arrdate     3096313 non-null float64
i94mode     3096074 non-null float64
i94addr     2943721 non-null object
depdate     2953856 non-null float64
i94bir      3095511 non-null float64
i94visa     3096313 non-null float64
count       3096313 non-null float64
dtadfile    3096312 non-null object
visapost    1215063 non-null object
occup       8126 non-null object
entdepa     3096075 non-null object
entdepd     2957884 non-null object
entdepu     392 non-null object
matflag     2957884 non-null object
biryear     3095511 non-null float64
dtaddto     3095836 non-null object
gender      2682044 non-null object
insnum      113708 non-null object
airline     3012686 non-null object
admnum      3096313 non-null float64
fltno       3076764 non-null object
visatype    3096313 non-null object
dtypes: float64(13), object(15)

%%time

df.head()

%%time

df.info()

In [14]:
%%time

kdf_tempratures.head()

CPU times: user 18 ms, sys: 8.27 ms, total: 26.3 ms
Wall time: 85.5 ms

           dt AverageTemperature AverageTemperatureUncertainty   City  Country Latitude Longitude
0  1743-11-01              6.068            1.7369999999999999  Århus  Denmark   57.05N    10.33E
1  1743-12-01               None                          None  Århus  Denmark   57.05N    10.33E
2  1744-01-01               None                          None  Århus  Denmark   57.05N    10.33E
3  1744-02-01               None                          None  Århus  Denmark   57.05N    10.33E
4  1744-03-01               None                          None  Århus  Denmark   57.05N    10.33E

%%time

df_tempratures.head()

%time

df_tempratures.info()

In [15]:
%%time

kdf_tempratures.shape

CPU times: user 3.4 ms, sys: 0 ns, total: 3.4 ms
Wall time: 6.09 s

(8599212, 7)

%%time

df_tempratures.shape

In [16]:
kdf_tempratures.AverageTemperature.isnull().value_counts()

False    8235082
True      364130
Name: AverageTemperature, dtype: int64

In [17]:
#False : means no null values.
kdf.i94port.isnull().values.any()

/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:604: UserWarning: We recommend using `Series.to_numpy()` instead.
  warnings.warn("We recommend using `{}.to_numpy()` instead.".format(type(self).__name__))

False

In [18]:
#The result : 0. that means no null values.
kdf.i94port.isnull().sum()

0

In [19]:
kdf.i94port.count()

3096313

In [20]:
kdf['count'].value_counts()

1.0    3096313
Name: count, dtype: int64

In [21]:
kdf.depdate.head()

0        NaN
1        NaN
2    20691.0
3    20567.0
4    20567.0
Name: depdate, dtype: float64

In [22]:
kdf.depdate.isnull().value_counts()

False    2953856
True      142457
Name: depdate, dtype: int64

In [23]:
#fill missing values with 0.
kdf.depdate.fillna(0)
kdf.depdate.head()

0        NaN
1        NaN
2    20691.0
3    20567.0
4    20567.0
Name: depdate, dtype: float64

### 2. Cleaning

Defining quality issues in data:
1. **i94yr** : The year should be a datetime or integer.
2. **i94port** : has XXX which means nothing and if there any missing value.
3. **count** : all the values of this column has '1' which is not useful, so should be removed.
4. **AverageTempratures** : has 364130 missing values which are should be removed.
5. **depdate** : will be converted to YYYY-MM-DD format.
6. **dt** : should be converted to datetime.

Converting `dt` to datetime.

In [24]:
kdf_tempratures.info()

databricks.koalas.frame.DataFrame
Index: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
dt                               8599212 non-null object
AverageTemperature               8235082 non-null object
AverageTemperatureUncertainty    8235082 non-null object
City                             8599212 non-null object
Country                          8599212 non-null object
Latitude                         8599212 non-null object
Longitude                        8599212 non-null object
dtypes: object(7)

/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:406: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  FutureWarning,

In [25]:
kdf_tempratures.dt = ks.to_datetime(kdf_tempratures.dt)
kdf_tempratures.dt.head()

0   1743-11-01
1   1743-12-01
2   1744-01-01
3   1744-02-01
4   1744-03-01
Name: dt, dtype: datetime64[ns]

Data quality check

In [26]:
kdf_tempratures.info()

databricks.koalas.frame.DataFrame
Index: 8599212 entries, 0 to 8599211
Data columns (total 7 columns):
dt                               8599212 non-null object
AverageTemperature               8235082 non-null object
AverageTemperatureUncertainty    8235082 non-null object
City                             8599212 non-null object
Country                          8599212 non-null object
Latitude                         8599212 non-null object
Longitude                        8599212 non-null object
dtypes: object(7)

/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:406: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  FutureWarning,

**AverageTemperature**: Drop all missing values in

In [27]:
kdf_tempratures.AverageTemperature.isnull().value_counts()

False    8235082
True      364130
Name: AverageTemperature, dtype: int64

Data quality check:

In [28]:
kdf_tempratures.dropna(subset=['AverageTemperature'], inplace= True)
kdf_tempratures.AverageTemperature.isnull().value_counts()

False    8235082
Name: AverageTemperature, dtype: int64

**i94yr** : The year should be an integer.

In [29]:
kdf.i94yr.dtype

dtype('float64')

In [30]:
kdf.i94yr.astype('int64').dtype

dtype('int64')

Data quality check:

In [31]:
kdf.i94yr = kdf.i94yr.astype('int64')
kdf.i94yr.head()

0    2016
1    2016
2    2016
3    2016
4    2016
Name: i94yr, dtype: int64

In [32]:
kdf.info()

/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:406: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  FutureWarning,

databricks.koalas.frame.DataFrame
Index: 3096313 entries, 0 to 3096312
Data columns (total 28 columns):
cicid       3096313 non-null float64
i94yr       3096313 non-null float64
i94mon      3096313 non-null float64
i94cit      3096313 non-null float64
i94res      3096313 non-null float64
i94port     3096313 non-null object
arrdate     3096313 non-null float64
i94mode     3096074 non-null float64
i94addr     2943721 non-null object
depdate     2953856 non-null float64
i94bir      3095511 non-null float64
i94visa     3096313 non-null float64
count       3096313 non-null float64
dtadfile    3096312 non-null object
visapost    1215063 non-null object
occup       8126 non-null object
entdepa     3096075 non-null object
entdepd     2957884 non-null object
entdepu     392 non-null object
matflag     2957884 non-null object
biryear     3095511 non-null float64
dtaddto     3095836 non-null object
gender      2682044 non-null object
insnum      113708 non-null object
airline     3012686 non-null object
admnum      3096313 non-null float64
fltno       3076764 non-null object
visatype    3096313 non-null object
dtypes: float64(13), object(15)

**i94port** : has XXX which means nothing and if there any missing value.

In [33]:
kdf.i94port.value_counts()

NYC    485916
MIA    343941
LOS    310163
SFR    152586
ORL    149195
HHW    142720
NEW    136122
CHI    130564
HOU    101481
FTL     95977
ATL     92579
LVG     89280
AGA     80919
WAS     74835
DAL     71809
BOS     57354
SEA     47719
PHO     38890
DET     37832
TAM     25632
PHI     24973
DUB     24371
SAI     23628
TOR     20886
DEN     18260
MAA     18151
PSP     18117
FMY     17514
SPM     16973
CLT     16228
OGG     13259
NAS     13032
VCV     12706
BLA     11087
SDP     10944
SFB     10159
SAJ      9144
WPB      9093
SNA      7066
NIA      6102
MON      6006
HAM      5207
CHM      5197
NCA      5197
SLC      5118
POO      5108
SNJ      4490
NOL      4409
KOA      4042
PBB      4035
SRQ      3922
XXX      3522
OAK      3501
BAL      3476
CLG      3191
AUS      3034
SHA      3007
SYS      2874
LEW      2425
X96      2378
LIH      2292
SAC      2201
RDU      2112
OTM      1857
YGF      1763
STT      1741
CIN      1722
PHU      1653
SAA      1625
HIG      1594
PEV      1083
BUF      1040
NOR      1001
THO       984
NSV       943
OPF       909
LNB       884
DER       877
PEM       849
ONT       777
YHC       772
SPE       762
SUM       698
ANZ       677
OTT       663
LYN       662
EDA       659
LLB       629
VIC       626
CLE       624
STL       571
CLM       555
PIT       539
CAL       532
MCA       512
INP       426
SWE       425
HID       396
BRO       395
HAL       376
LAR       355
PVD       352
YSL       344
HAR       340
KAN       337
NOG       333
WIN       330
BOA       328
RNO       255
MIL       248
PDN       232
PHR       228
TUC       219
HTM       198
CHR       198
EPI       178
CLS       167
ELP       165
ROO       164
POR       157
KEY       155
OGD       144
TEC       144
PIE       140
ORO       138
HPN       136
STR       135
BGM       128
LOI       123
PIR       123
MDT       101
SSM        92
ANC        91
LUK        89
MAS        87
AXB        85
MLB        83
VIB        79
SYR        76
ROC        76
LCB        72
JKM        70
SKA        68
DOU        64
AND        57
GPM        51
BED        51
DLR        51
DAC        50
CHA        48
HVR        45
CNA        41
MEM        41
ROU        40
ALC        39
EGP        38
SGR        38
COB        37
FWA        37
SLU        36
DNS        35
PEN        34
W55        33
FRB        32
INT        32
JAC        31
MET        31
SAV        29
WBE        28
RAY        27
RIF        25
FPR        25
CHS        23
BQN        23
WIL        22
DNA        22
PTL        21
GAL        21
MMU        20
MRC        18
PGR        18
CHL        18
NRN        17
PRE        16
FPT        15
ADS        15
MOR        14
FOK        14
ROS        14
WLL        14
BDL        14
CAE        14
MAD        14
MOO        13
PTK        12
DLB        12
ROM        12
PRO        12
WAR        11
AGN        11
X44        11
MAF        11
ABG        11
TRO        10
BWA        10
LAN        10
GSP        10
OMA        10
ADT        10
VNY        10
RST         9
APF         9
SWF         9
LAU         9
HNS         8
MHT         8
WAL         8
COL         8
BEE         7
JMZ         7
NAC         7
DAB         7
FRT         6
LEX         6
CRQ         6
PAR         6
TUR         6
CHT         6
TKI         6
MYR         5
FAR         5
FTC         5
NRG         5
NYL         5
PNH         5
ICT         5
FER         5
SHR         5
ABS         4
FAL         4
ADW         4
FTK         4
WHO         4
HSV         4
BEL         4
5T6         4
CRY         3
JFA         3
MWH         3
MOB         3
ATW         3
FTF         3
5KE         3
DPA         3
FRE         3
ABQ         3
VCB         3
FCA         3
BTN         3
SPO         3
SJO         3
BAU         3
BEB         3
HEL         2
NOO         2
MTH         2
NRT         2
BHX         2
RYY         2
HEF         2
LUB         2
NEC         2
SGJ         2
PSM         2
DVL         2
CRP         2
BRG         2
FRI         2
LOU         2
MGM         2
REN         1
BWM         1
ANA         1
YIP         1
SCH         1
ERC         1
LWT         1
NIG         1
CPX         1
MAI         1
NC8         1
PCF         1
CNC         1
PHF         1
VNB         1
RIO         1
HNN         1
COO         1
MND         1
Name: i94port, dtype: int64

There are **3522** records have `XXX` value.

In [34]:
kdf = kdf[kdf.i94port != 'XXX']
kdf.i94port.value_counts()

NYC    485916
MIA    343941
LOS    310163
SFR    152586
ORL    149195
HHW    142720
NEW    136122
CHI    130564
HOU    101481
FTL     95977
ATL     92579
LVG     89280
AGA     80919
WAS     74835
DAL     71809
BOS     57354
SEA     47719
PHO     38890
DET     37832
TAM     25632
PHI     24973
DUB     24371
SAI     23628
TOR     20886
DEN     18260
MAA     18151
PSP     18117
FMY     17514
SPM     16973
CLT     16228
OGG     13259
NAS     13032
VCV     12706
BLA     11087
SDP     10944
SFB     10159
SAJ      9144
WPB      9093
SNA      7066
NIA      6102
MON      6006
HAM      5207
CHM      5197
NCA      5197
SLC      5118
POO      5108
SNJ      4490
NOL      4409
KOA      4042
PBB      4035
SRQ      3922
OAK      3501
BAL      3476
CLG      3191
AUS      3034
SHA      3007
SYS      2874
LEW      2425
X96      2378
LIH      2292
SAC      2201
RDU      2112
OTM      1857
YGF      1763
STT      1741
CIN      1722
PHU      1653
SAA      1625
HIG      1594
PEV      1083
BUF      1040
NOR      1001
THO       984
NSV       943
OPF       909
LNB       884
DER       877
PEM       849
ONT       777
YHC       772
SPE       762
SUM       698
ANZ       677
OTT       663
LYN       662
EDA       659
LLB       629
VIC       626
CLE       624
STL       571
CLM       555
PIT       539
CAL       532
MCA       512
INP       426
SWE       425
HID       396
BRO       395
HAL       376
LAR       355
PVD       352
YSL       344
HAR       340
KAN       337
NOG       333
WIN       330
BOA       328
RNO       255
MIL       248
PDN       232
PHR       228
TUC       219
HTM       198
CHR       198
EPI       178
CLS       167
ELP       165
ROO       164
POR       157
KEY       155
OGD       144
TEC       144
PIE       140
ORO       138
HPN       136
STR       135
BGM       128
LOI       123
PIR       123
MDT       101
SSM        92
ANC        91
LUK        89
MAS        87
AXB        85
MLB        83
VIB        79
SYR        76
ROC        76
LCB        72
JKM        70
SKA        68
DOU        64
AND        57
GPM        51
BED        51
DLR        51
DAC        50
CHA        48
HVR        45
CNA        41
MEM        41
ROU        40
ALC        39
EGP        38
SGR        38
COB        37
FWA        37
SLU        36
DNS        35
PEN        34
W55        33
FRB        32
INT        32
JAC        31
MET        31
SAV        29
WBE        28
RAY        27
RIF        25
FPR        25
CHS        23
BQN        23
WIL        22
DNA        22
PTL        21
GAL        21
MMU        20
MRC        18
PGR        18
CHL        18
NRN        17
PRE        16
FPT        15
ADS        15
MOR        14
FOK        14
ROS        14
WLL        14
BDL        14
CAE        14
MAD        14
MOO        13
PTK        12
DLB        12
ROM        12
PRO        12
WAR        11
AGN        11
X44        11
MAF        11
ABG        11
TRO        10
BWA        10
LAN        10
GSP        10
OMA        10
ADT        10
VNY        10
RST         9
APF         9
SWF         9
LAU         9
HNS         8
MHT         8
WAL         8
COL         8
BEE         7
JMZ         7
NAC         7
DAB         7
FRT         6
LEX         6
CRQ         6
PAR         6
TUR         6
CHT         6
TKI         6
MYR         5
FAR         5
FTC         5
NRG         5
NYL         5
PNH         5
ICT         5
FER         5
SHR         5
ABS         4
FAL         4
ADW         4
FTK         4
WHO         4
HSV         4
BEL         4
5T6         4
CRY         3
JFA         3
MWH         3
MOB         3
ATW         3
FTF         3
5KE         3
DPA         3
FRE         3
ABQ         3
VCB         3
FCA         3
BTN         3
SPO         3
SJO         3
BAU         3
BEB         3
HEL         2
NOO         2
MTH         2
NRT         2
BHX         2
RYY         2
HEF         2
LUB         2
NEC         2
SGJ         2
PSM         2
DVL         2
CRP         2
BRG         2
FRI         2
LOU         2
MGM         2
REN         1
BWM         1
ANA         1
YIP         1
SCH         1
ERC         1
LWT         1
NIG         1
CPX         1
MAI         1
NC8         1
PCF         1
CNC         1
PHF         1
VNB         1
RIO         1
HNN         1
COO         1
MND         1
Name: i94port, dtype: int64

**count** : all the values of this column has '1' which is not useful, so should be removed.

In [35]:
kdf['count'].value_counts()

1.0    3092791
Name: count, dtype: int64

In [36]:
kdf = kdf.drop('count', axis=1)

Data quality check:

In [37]:
kdf.info()

/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:406: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  FutureWarning,

databricks.koalas.frame.DataFrame
Index: 3092791 entries, 1 to 3096312
Data columns (total 27 columns):
cicid       3092791 non-null float64
i94yr       3092791 non-null float64
i94mon      3092791 non-null float64
i94cit      3092791 non-null float64
i94res      3092791 non-null float64
i94port     3092791 non-null object
arrdate     3092791 non-null float64
i94mode     3092769 non-null float64
i94addr     2941769 non-null object
depdate     2952202 non-null float64
i94bir      3092016 non-null float64
i94visa     3092791 non-null float64
dtadfile    3092791 non-null object
visapost    1214449 non-null object
occup       8122 non-null object
entdepa     3092769 non-null object
entdepd     2955643 non-null object
entdepu     388 non-null object
matflag     2955643 non-null object
biryear     3092016 non-null float64
dtaddto     3092532 non-null object
gender      2678739 non-null object
insnum      111671 non-null object
airline     3011660 non-null object
admnum      3092791 non-null float64
fltno       3075651 non-null object
visatype    3092791 non-null object
dtypes: float64(12), object(15)

 **depdate** and **arrdate** : will be converted to YYYY-MM-DD format.

Dealing with `depdate` column with **pandas** by this way:<br>
df_copy = df.depdate<br>
df_copy = pd.to_timedelta(df_copy, unit='D')  + pd.datetime(1960, 1, 1)<br>
df_copy.head()

In [38]:
kdf_copy = kdf
kdf_copy.arrdate.apply(lambda sas_date: pd.to_timedelta(sas_date,unit='D') + pd.datetime(1960, 1, 1))

1      2016-04-07
2      2016-04-01
3      2016-04-01
4      2016-04-01
5      2016-04-01
6      2016-04-01
7      2016-04-01
8      2016-04-01
9      2016-04-01
10     2016-04-01
11     2016-04-01
12     2016-04-01
13     2016-04-01
14     2016-04-01
15     2016-04-01
16     2016-04-01
17     2016-04-01
18     2016-04-01
19     2016-04-01
20     2016-04-01
21     2016-04-01
22     2016-04-01
23     2016-04-01
24     2016-04-01
25     2016-04-01
26     2016-04-01
27     2016-04-01
28     2016-04-01
29     2016-04-01
30     2016-04-01
31     2016-04-01
32     2016-04-01
33     2016-04-01
34     2016-04-01
35     2016-04-01
36     2016-04-01
37     2016-04-01
38     2016-04-01
39     2016-04-01
40     2016-04-01
41     2016-04-01
42     2016-04-01
43     2016-04-01
44     2016-04-01
45     2016-04-01
46     2016-04-01
47     2016-04-01
48     2016-04-01
49     2016-04-01
50     2016-04-01
51     2016-04-01
52     2016-04-01
53     2016-04-01
54     2016-04-01
55     2016-04-01
56     2016-04-01
57     2016-04-01
58     2016-04-01
59     2016-04-01
60     2016-04-01
61     2016-04-01
62     2016-04-01
63     2016-04-01
64     2016-04-01
65     2016-04-01
66     2016-04-01
67     2016-04-01
68     2016-04-01
69     2016-04-01
70     2016-04-01
71     2016-04-01
72     2016-04-01
73     2016-04-01
74     2016-04-01
75     2016-04-01
76     2016-04-01
77     2016-04-01
78     2016-04-01
79     2016-04-01
80     2016-04-01
81     2016-04-01
82     2016-04-01
83     2016-04-01
84     2016-04-01
85     2016-04-01
86     2016-04-01
87     2016-04-01
88     2016-04-01
89     2016-04-01
90     2016-04-01
91     2016-04-01
92     2016-04-01
93     2016-04-01
94     2016-04-01
95     2016-04-01
96     2016-04-01
97     2016-04-01
98     2016-04-01
99     2016-04-01
100    2016-04-01
101    2016-04-01
102    2016-04-01
103    2016-04-01
104    2016-04-01
105    2016-04-01
106    2016-04-01
107    2016-04-01
108    2016-04-01
109    2016-04-01
110    2016-04-01
111    2016-04-01
112    2016-04-01
113    2016-04-01
114    2016-04-01
115    2016-04-01
116    2016-04-01
117    2016-04-01
118    2016-04-01
119    2016-04-01
120    2016-04-01
121    2016-04-01
122    2016-04-01
123    2016-04-01
124    2016-04-01
125    2016-04-01
126    2016-04-01
127    2016-04-01
128    2016-04-01
129    2016-04-01
130    2016-04-01
131    2016-04-01
132    2016-04-01
133    2016-04-01
134    2016-04-01
135    2016-04-01
136    2016-04-01
137    2016-04-01
138    2016-04-01
139    2016-04-01
140    2016-04-01
141    2016-04-01
142    2016-04-01
143    2016-04-01
144    2016-04-01
145    2016-04-01
146    2016-04-01
147    2016-04-01
148    2016-04-01
149    2016-04-01
150    2016-04-01
151    2016-04-01
152    2016-04-01
153    2016-04-01
154    2016-04-01
155    2016-04-01
156    2016-04-01
157    2016-04-01
158    2016-04-01
159    2016-04-01
160    2016-04-01
161    2016-04-01
162    2016-04-01
163    2016-04-01
164    2016-04-01
165    2016-04-01
166    2016-04-01
167    2016-04-01
168    2016-04-01
169    2016-04-01
170    2016-04-01
171    2016-04-01
172    2016-04-01
173    2016-04-01
174    2016-04-01
175    2016-04-01
176    2016-04-01
177    2016-04-01
178    2016-04-01
179    2016-04-01
180    2016-04-01
181    2016-04-01
182    2016-04-01
183    2016-04-01
184    2016-04-01
185    2016-04-01
186    2016-04-01
187    2016-04-01
188    2016-04-01
189    2016-04-01
190    2016-04-01
191    2016-04-01
192    2016-04-01
193    2016-04-01
194    2016-04-01
195    2016-04-01
196    2016-04-01
197    2016-04-01
198    2016-04-01
199    2016-04-01
200    2016-04-01
201    2016-04-01
202    2016-04-01
203    2016-04-01
204    2016-04-01
205    2016-04-01
206    2016-04-01
207    2016-04-01
208    2016-04-01
209    2016-04-01
210    2016-04-01
211    2016-04-01
212    2016-04-01
213    2016-04-01
214    2016-04-01
215    2016-04-01
216    2016-04-01
217    2016-04-01
218    2016-04-01
219    2016-04-01
220    2016-04-01
221    2016-04-01
222    2016-04-01
223    2016-04-01
224    2016-04-01
225    2016-04-01
226    2016-04-01
227    2016-04-01
228    2016-04-01
229    2016-04-01
230    2016-04-01
231    2016-04-01
232    2016-04-01
233    2016-04-01
234    2016-04-01
235    2016-04-01
236    2016-04-01
237    2016-04-01
238    2016-04-01
239    2016-04-01
240    2016-04-01
241    2016-04-01
242    2016-04-01
243    2016-04-01
244    2016-04-01
245    2016-04-01
246    2016-04-01
247    2016-04-01
248    2016-04-01
249    2016-04-01
250    2016-04-01
251    2016-04-01
252    2016-04-01
253    2016-04-01
254    2016-04-01
255    2016-04-01
256    2016-04-01
257    2016-04-01
258    2016-04-01
259    2016-04-01
260    2016-04-01
261    2016-04-01
262    2016-04-01
263    2016-04-01
264    2016-04-01
265    2016-04-01
266    2016-04-01
267    2016-04-01
268    2016-04-01
269    2016-04-01
270    2016-04-01
271    2016-04-01
272    2016-04-01
273    2016-04-01
274    2016-04-01
275    2016-04-01
276    2016-04-01
277    2016-04-01
278    2016-04-01
279    2016-04-01
280    2016-04-01
281    2016-04-01
282    2016-04-01
283    2016-04-01
284    2016-04-01
285    2016-04-01
286    2016-04-01
287    2016-04-01
288    2016-04-01
289    2016-04-01
290    2016-04-01
291    2016-04-01
292    2016-04-01
293    2016-04-01
294    2016-04-01
295    2016-04-01
296    2016-04-01
297    2016-04-01
298    2016-04-01
299    2016-04-01
300    2016-04-01
301    2016-04-01
302    2016-04-01
303    2016-04-01
304    2016-04-01
305    2016-04-01
306    2016-04-01
307    2016-04-01
308    2016-04-01
309    2016-04-01
310    2016-04-01
311    2016-04-01
312    2016-04-01
313    2016-04-01
314    2016-04-01
315    2016-04-01
316    2016-04-01
317    2016-04-01
318    2016-04-01
319    2016-04-01
320    2016-04-01
321    2016-04-01
322    2016-04-01
323    2016-04-01
324    2016-04-01
325    2016-04-01
326    2016-04-01
327    2016-04-01
328    2016-04-01
329    2016-04-01
330    2016-04-01
331    2016-04-01
332    2016-04-01
333    2016-04-01
334    2016-04-01
335    2016-04-01
336    2016-04-01
337    2016-04-01
338    2016-04-01
339    2016-04-01
340    2016-04-01
341    2016-04-01
342    2016-04-01
343    2016-04-01
344    2016-04-01
345    2016-04-01
346    2016-04-01
347    2016-04-01
348    2016-04-01
349    2016-04-01
350    2016-04-01
351    2016-04-01
352    2016-04-01
353    2016-04-01
354    2016-04-01
355    2016-04-01
356    2016-04-01
357    2016-04-01
358    2016-04-01
359    2016-04-01
360    2016-04-01
361    2016-04-01
362    2016-04-01
363    2016-04-01
364    2016-04-01
365    2016-04-01
366    2016-04-01
367    2016-04-01
368    2016-04-01
369    2016-04-01
370    2016-04-01
371    2016-04-01
372    2016-04-01
373    2016-04-01
374    2016-04-01
375    2016-04-01
376    2016-04-01
377    2016-04-01
378    2016-04-01
379    2016-04-01
380    2016-04-01
381    2016-04-01
382    2016-04-01
383    2016-04-01
384    2016-04-01
385    2016-04-01
386    2016-04-01
387    2016-04-01
388    2016-04-01
389    2016-04-01
390    2016-04-01
391    2016-04-01
392    2016-04-01
393    2016-04-01
394    2016-04-01
395    2016-04-01
396    2016-04-01
397    2016-04-01
398    2016-04-01
399    2016-04-01
400    2016-04-01
401    2016-04-01
402    2016-04-01
403    2016-04-01
404    2016-04-01
405    2016-04-01
406    2016-04-01
407    2016-04-01
408    2016-04-01
409    2016-04-01
410    2016-04-01
411    2016-04-01
412    2016-04-01
413    2016-04-01
414    2016-04-01
415    2016-04-01
416    2016-04-01
417    2016-04-01
418    2016-04-01
419    2016-04-01
420    2016-04-01
421    2016-04-01
422    2016-04-01
423    2016-04-01
424    2016-04-01
425    2016-04-01
426    2016-04-01
427    2016-04-01
428    2016-04-01
429    2016-04-01
430    2016-04-01
431    2016-04-01
432    2016-04-01
433    2016-04-01
434    2016-04-01
435    2016-04-01
436    2016-04-01
437    2016-04-01
438    2016-04-01
439    2016-04-01
440    2016-04-01
441    2016-04-01
442    2016-04-01
443    2016-04-01
444    2016-04-01
445    2016-04-01
446    2016-04-01
447    2016-04-01
448    2016-04-01
449    2016-04-01
450    2016-04-01
451    2016-04-01
452    2016-04-01
453    2016-04-01
454    2016-04-01
455    2016-04-01
456    2016-04-01
457    2016-04-01
458    2016-04-01
459    2016-04-01
460    2016-04-01
461    2016-04-01
462    2016-04-01
463    2016-04-01
464    2016-04-01
465    2016-04-01
466    2016-04-01
467    2016-04-01
468    2016-04-01
469    2016-04-01
470    2016-04-01
471    2016-04-01
472    2016-04-01
473    2016-04-01
474    2016-04-01
475    2016-04-01
476    2016-04-01
477    2016-04-01
478    2016-04-01
479    2016-04-01
480    2016-04-01
481    2016-04-01
482    2016-04-01
483    2016-04-01
484    2016-04-01
485    2016-04-01
486    2016-04-01
487    2016-04-01
488    2016-04-01
489    2016-04-01
490    2016-04-01
491    2016-04-01
492    2016-04-01
493    2016-04-01
494    2016-04-01
495    2016-04-01
496    2016-04-01
497    2016-04-01
498    2016-04-01
499    2016-04-01
500    2016-04-01
501    2016-04-01
502    2016-04-01
503    2016-04-01
504    2016-04-01
505    2016-04-01
506    2016-04-01
507    2016-04-01
508    2016-04-01
509    2016-04-01
510    2016-04-01
511    2016-04-01
512    2016-04-01
513    2016-04-01
514    2016-04-01
515    2016-04-01
516    2016-04-01
517    2016-04-01
518    2016-04-01
519    2016-04-01
520    2016-04-01
521    2016-04-01
522    2016-04-01
523    2016-04-01
524    2016-04-01
525    2016-04-01
526    2016-04-01
527    2016-04-01
528    2016-04-01
529    2016-04-01
530    2016-04-01
531    2016-04-01
532    2016-04-01
533    2016-04-01
534    2016-04-01
535    2016-04-01
536    2016-04-01
537    2016-04-01
538    2016-04-01
539    2016-04-01
540    2016-04-01
541    2016-04-01
542    2016-04-01
543    2016-04-01
544    2016-04-01
545    2016-04-01
546    2016-04-01
547    2016-04-01
548    2016-04-01
549    2016-04-01
550    2016-04-01
551    2016-04-01
552    2016-04-01
553    2016-04-01
554    2016-04-01
555    2016-04-01
556    2016-04-01
557    2016-04-01
558    2016-04-01
559    2016-04-01
560    2016-04-01
561    2016-04-01
562    2016-04-01
563    2016-04-01
564    2016-04-01
565    2016-04-01
566    2016-04-01
567    2016-04-01
568    2016-04-01
569    2016-04-01
570    2016-04-01
571    2016-04-01
572    2016-04-01
573    2016-04-01
574    2016-04-01
575    2016-04-01
576    2016-04-01
577    2016-04-01
578    2016-04-01
579    2016-04-01
580    2016-04-01
581    2016-04-01
582    2016-04-01
583    2016-04-01
584    2016-04-01
585    2016-04-01
586    2016-04-01
587    2016-04-01
588    2016-04-01
589    2016-04-01
590    2016-04-01
591    2016-04-01
592    2016-04-01
593    2016-04-01
594    2016-04-01
595    2016-04-01
596    2016-04-01
597    2016-04-01
598    2016-04-01
599    2016-04-01
600    2016-04-01
601    2016-04-01
602    2016-04-01
603    2016-04-01
604    2016-04-01
605    2016-04-01
606    2016-04-01
607    2016-04-01
608    2016-04-01
609    2016-04-01
610    2016-04-01
611    2016-04-01
612    2016-04-01
613    2016-04-01
614    2016-04-01
615    2016-04-01
616    2016-04-01
617    2016-04-01
618    2016-04-01
619    2016-04-01
620    2016-04-01
621    2016-04-01
622    2016-04-01
623    2016-04-01
624    2016-04-01
625    2016-04-01
626    2016-04-01
627    2016-04-01
628    2016-04-01
629    2016-04-01
630    2016-04-01
631    2016-04-01
632    2016-04-01
633    2016-04-01
634    2016-04-01
635    2016-04-01
636    2016-04-01
637    2016-04-01
638    2016-04-01
639    2016-04-01
640    2016-04-01
641    2016-04-01
642    2016-04-01
643    2016-04-01
644    2016-04-01
645    2016-04-01
646    2016-04-01
647    2016-04-01
648    2016-04-01
649    2016-04-01
650    2016-04-01
651    2016-04-01
652    2016-04-01
653    2016-04-01
654    2016-04-01
655    2016-04-01
656    2016-04-01
657    2016-04-01
658    2016-04-01
659    2016-04-01
660    2016-04-01
661    2016-04-01
662    2016-04-01
663    2016-04-01
664    2016-04-01
665    2016-04-01
666    2016-04-01
667    2016-04-01
668    2016-04-01
669    2016-04-01
670    2016-04-01
671    2016-04-01
672    2016-04-01
673    2016-04-01
674    2016-04-01
675    2016-04-01
676    2016-04-01
677    2016-04-01
678    2016-04-01
679    2016-04-01
680    2016-04-01
681    2016-04-01
682    2016-04-01
683    2016-04-01
684    2016-04-01
685    2016-04-01
686    2016-04-01
687    2016-04-01
688    2016-04-01
689    2016-04-01
690    2016-04-01
691    2016-04-01
692    2016-04-01
693    2016-04-01
694    2016-04-01
695    2016-04-01
696    2016-04-01
697    2016-04-01
698    2016-04-01
699    2016-04-01
700    2016-04-01
701    2016-04-01
702    2016-04-01
703    2016-04-01
704    2016-04-01
705    2016-04-01
706    2016-04-01
707    2016-04-01
708    2016-04-01
709    2016-04-01
710    2016-04-01
711    2016-04-01
712    2016-04-01
713    2016-04-01
714    2016-04-01
715    2016-04-01
716    2016-04-01
717    2016-04-01
718    2016-04-01
719    2016-04-01
720    2016-04-01
721    2016-04-01
722    2016-04-01
723    2016-04-01
724    2016-04-01
725    2016-04-01
726    2016-04-01
727    2016-04-01
728    2016-04-01
729    2016-04-01
730    2016-04-01
731    2016-04-01
732    2016-04-01
733    2016-04-01
734    2016-04-01
735    2016-04-01
736    2016-04-01
737    2016-04-01
738    2016-04-01
739    2016-04-01
740    2016-04-01
741    2016-04-01
742    2016-04-01
743    2016-04-01
744    2016-04-01
745    2016-04-01
746    2016-04-01
747    2016-04-01
748    2016-04-01
749    2016-04-01
750    2016-04-01
751    2016-04-01
752    2016-04-01
753    2016-04-01
754    2016-04-01
755    2016-04-01
756    2016-04-01
757    2016-04-01
758    2016-04-01
759    2016-04-01
760    2016-04-01
761    2016-04-01
762    2016-04-01
763    2016-04-01
764    2016-04-01
765    2016-04-01
766    2016-04-01
767    2016-04-01
768    2016-04-01
769    2016-04-01
770    2016-04-01
771    2016-04-01
772    2016-04-01
773    2016-04-01
774    2016-04-01
775    2016-04-01
776    2016-04-01
777    2016-04-01
778    2016-04-01
779    2016-04-01
780    2016-04-01
781    2016-04-01
782    2016-04-01
783    2016-04-01
784    2016-04-01
785    2016-04-01
786    2016-04-01
787    2016-04-01
788    2016-04-01
789    2016-04-01
790    2016-04-01
791    2016-04-01
792    2016-04-01
793    2016-04-01
794    2016-04-01
795    2016-04-01
796    2016-04-01
797    2016-04-01
798    2016-04-01
799    2016-04-01
800    2016-04-01
801    2016-04-01
802    2016-04-01
803    2016-04-01
804    2016-04-01
805    2016-04-01
806    2016-04-01
807    2016-04-01
808    2016-04-01
809    2016-04-01
810    2016-04-01
811    2016-04-01
812    2016-04-01
813    2016-04-01
814    2016-04-01
815    2016-04-01
816    2016-04-01
817    2016-04-01
818    2016-04-01
819    2016-04-01
820    2016-04-01
821    2016-04-01
822    2016-04-01
823    2016-04-01
824    2016-04-01
825    2016-04-01
826    2016-04-01
827    2016-04-01
828    2016-04-01
829    2016-04-01
830    2016-04-01
831    2016-04-01
832    2016-04-01
833    2016-04-01
834    2016-04-01
835    2016-04-01
836    2016-04-01
837    2016-04-01
838    2016-04-01
839    2016-04-01
840    2016-04-01
841    2016-04-01
842    2016-04-01
843    2016-04-01
844    2016-04-01
845    2016-04-01
846    2016-04-01
847    2016-04-01
848    2016-04-01
849    2016-04-01
850    2016-04-01
851    2016-04-01
852    2016-04-01
853    2016-04-01
854    2016-04-01
855    2016-04-01
856    2016-04-01
857    2016-04-01
858    2016-04-01
859    2016-04-01
860    2016-04-01
861    2016-04-01
862    2016-04-01
863    2016-04-01
864    2016-04-01
865    2016-04-01
866    2016-04-01
867    2016-04-01
868    2016-04-01
869    2016-04-01
870    2016-04-01
871    2016-04-01
872    2016-04-01
873    2016-04-01
874    2016-04-01
875    2016-04-01
876    2016-04-01
877    2016-04-01
878    2016-04-01
879    2016-04-01
880    2016-04-01
881    2016-04-01
882    2016-04-01
883    2016-04-01
884    2016-04-01
885    2016-04-01
886    2016-04-01
887    2016-04-01
888    2016-04-01
889    2016-04-01
890    2016-04-01
891    2016-04-01
892    2016-04-01
893    2016-04-01
894    2016-04-01
895    2016-04-01
896    2016-04-01
897    2016-04-01
898    2016-04-01
899    2016-04-01
900    2016-04-01
901    2016-04-01
902    2016-04-01
903    2016-04-01
904    2016-04-01
905    2016-04-01
906    2016-04-01
907    2016-04-01
908    2016-04-01
909    2016-04-01
910    2016-04-01
911    2016-04-01
912    2016-04-01
913    2016-04-01
914    2016-04-01
915    2016-04-01
916    2016-04-01
917    2016-04-01
918    2016-04-01
919    2016-04-01
920    2016-04-01
921    2016-04-01
922    2016-04-01
923    2016-04-01
924    2016-04-01
925    2016-04-01
926    2016-04-01
927    2016-04-01
928    2016-04-01
929    2016-04-01
930    2016-04-01
931    2016-04-01
932    2016-04-01
933    2016-04-01
934    2016-04-01
935    2016-04-01
936    2016-04-01
937    2016-04-01
938    2016-04-01
939    2016-04-01
940    2016-04-01
941    2016-04-01
942    2016-04-01
943    2016-04-01
944    2016-04-01
945    2016-04-01
946    2016-04-01
947    2016-04-01
948    2016-04-01
949    2016-04-01
950    2016-04-01
951    2016-04-01
952    2016-04-01
953    2016-04-01
954    2016-04-01
955    2016-04-01
956    2016-04-01
957    2016-04-01
958    2016-04-01
959    2016-04-01
960    2016-04-01
961    2016-04-01
962    2016-04-01
963    2016-04-01
964    2016-04-01
965    2016-04-01
966    2016-04-01
967    2016-04-01
968    2016-04-01
969    2016-04-01
970    2016-04-01
971    2016-04-01
972    2016-04-01
973    2016-04-01
974    2016-04-01
975    2016-04-01
976    2016-04-01
977    2016-04-01
978    2016-04-01
979    2016-04-01
980    2016-04-01
981    2016-04-01
982    2016-04-01
983    2016-04-01
984    2016-04-01
985    2016-04-01
986    2016-04-01
987    2016-04-01
988    2016-04-01
989    2016-04-01
990    2016-04-01
991    2016-04-01
992    2016-04-01
993    2016-04-01
994    2016-04-01
995    2016-04-01
996    2016-04-01
997    2016-04-01
998    2016-04-01
999    2016-04-01
1000   2016-04-01
Name: arrdate, dtype: datetime64[ns]
Showing only the first 1000

In [39]:
kdf.depdate.head()

1        NaN
2    20691.0
3    20567.0
4    20567.0
5    20555.0
Name: depdate, dtype: float64

df_copy = df.depdate
df_copy = pd.to_timedelta(df_copy, unit='D') + pd.datetime(1960, 1, 1)
df_copy.head()

kdf.depdate = df_copy
kdf.depdate.head()

In [40]:
kdf.depdate = kdf.depdate.apply(lambda sas_date: pd.to_timedelta(sas_date,unit='D') + pd.datetime(1960, 1, 1))
kdf.depdate.head()

1          NaT
2   2016-08-25
3   2016-04-23
4   2016-04-23
5   2016-04-11
Name: depdate, dtype: datetime64[ns]

arrdate

In [41]:
kdf.arrdate.head()

1    20551.0
2    20545.0
3    20545.0
4    20545.0
5    20545.0
Name: arrdate, dtype: float64

df_copy = df.arrdate
df_copy = pd.to_timedelta(df_copy, unit='D') + pd.datetime(1960, 1, 1)
kdf.arrdate = df_copy
kdf.arrdate.head()

In [42]:
kdf.arrdate = kdf.arrdate.apply(lambda sas_date: pd.to_timedelta(sas_date,unit='D') + pd.datetime(1960, 1, 1))
kdf.arrdate.head()

1   2016-04-07
2   2016-04-01
3   2016-04-01
4   2016-04-01
5   2016-04-01
Name: arrdate, dtype: datetime64[ns]

Data quality check:

In [43]:
kdf.info()

/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:406: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  FutureWarning,

databricks.koalas.frame.DataFrame
Index: 3092791 entries, 1 to 3096312
Data columns (total 27 columns):
cicid       3092791 non-null float64
i94yr       3092791 non-null float64
i94mon      3092791 non-null float64
i94cit      3092791 non-null float64
i94res      3092791 non-null float64
i94port     3092791 non-null object
arrdate     3092791 non-null float64
i94mode     3092769 non-null float64
i94addr     2941769 non-null object
depdate     2952202 non-null float64
i94bir      3092016 non-null float64
i94visa     3092791 non-null float64
dtadfile    3092791 non-null object
visapost    1214449 non-null object
occup       8122 non-null object
entdepa     3092769 non-null object
entdepd     2955643 non-null object
entdepu     388 non-null object
matflag     2955643 non-null object
biryear     3092016 non-null float64
dtaddto     3092532 non-null object
gender      2678739 non-null object
insnum      111671 non-null object
airline     3011660 non-null object
admnum      3092791 non-null float64
fltno       3075651 non-null object
visatype    3092791 non-null object
dtypes: float64(12), object(15)

In [44]:
# Performing cleaning tasks here

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

Fact Table `fact_table`
Columns:

i94yr = 4 digit year.<br>
i94mon = numeric month.<br>
i94cit = 3 digit code of origin city.<br>
i94port = 3 character code of destination USA city.<br>
i94mode = 1 digit travel code.<br>
i94visa = reason for immigration.<br>
AverageTemperature = average temperature of destination city.<br>



Dimension Table `i94_table` - I94 immigration data columns:

i94yr = 4 digit year<br>
i94mon = numeric month<br>
i94cit = 3 digit code of origin city<br>
i94port = 3 character code of destination USA city<br>
arrdate = arrival date in the USA<br>
i94mode = 1 digit travel code<br>
depdate = departure date from the USA<br>
i94visa = reason for immigration<br>


Dimension Table `temp_table` - temperature data columns:

AverageTemperature = average temperature<br>
City = city name<br>
Country = country name<br>
Latitude= latitude<br>
Longitude = longitude<br>

Dimension Table `time_table` -  any columns related to time.
<br>columns:

i94yr = 4 digit year<br>
i94mon = numeric month<br>
i94port = 3 character code of destination USA city<br>
arrdate = arrival date in the USA<br>
depdate = departure date from the USA<br>

#### The reason of choosing this data model:
* Star schema
<br>I choose this model because it is popular and familiar in the market.
<br> It is one of the simplest schema to be implemented.
<br> It is a simple to read and to understand the schema.
<br> Easy to add some tables.
<br> Denormalization, fast aggregation and simplify queries.

# Trying more efficient reading way.

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

#### Creating tables `i94_table`, `temp_table`, `time_table` `fact_table`

In [45]:
# Write code here

In [46]:
kdf_spark = kdf.to_spark()

In [47]:
kdf_tempratures_spark = kdf_tempratures.to_spark()

ETL process...

In [48]:
kdf_spark.createOrReplaceTempView('i94_table_view')

In [49]:
kdf_tempratures_spark.createOrReplaceTempView('temp_table_view')

In [50]:
#Dimension table.
temp_table = kdf_tempratures_spark.select(["AverageTemperature", "City", "Country", "Latitude", "Longitude"])

In [51]:
#Dimension table.
i94_table = kdf_spark.select(["i94yr","i94mon","i94cit","i94port","arrdate","i94mode","depdate","i94visa"])

In [52]:
#Dimension table.
time_table = kdf_spark.select(["i94yr","i94mon","i94port","arrdate","depdate"])

In [53]:
#Create the fact table.
fact_table = (spark.sql('''
                    SELECT 
                    DISTINCT
                    i94_table_view.i94yr as year,
                    i94_table_view.i94mon as month,
                    i94_table_view.i94cit as city,
                    i94_table_view.i94port as port,
                    i94_table_view.i94mode as mode,
                    i94_table_view.i94visa as visa,
                    temp_table_view.AverageTemperature as temperature
                    FROM i94_table_view,
                    temp_table_view
                     '''))

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

Regarding to cleaning step I did many Data Quality Checks after every cleaning step.

Checking tables `i94_table`, `temp_table`, `time_table` `fact_table`

In [54]:
i94_table.show()

+------+------+------+-------+-------+-------+-------+-------+
| i94yr|i94mon|i94cit|i94port|arrdate|i94mode|depdate|i94visa|
+------+------+------+-------+-------+-------+-------+-------+
|2016.0|   4.0| 254.0|    ATL|20551.0|    1.0|   null|    3.0|
|2016.0|   4.0| 101.0|    WAS|20545.0|    1.0|20691.0|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20567.0|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20567.0|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20555.0|    1.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20558.0|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20558.0|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20553.0|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20562.0|    1.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20671.0|    2.0|
|2016.0|   4.0| 101.0|    TOR|20545.0|    1.0|20554.0|    2.0|
|2016.0|   4.0| 101.0|    BOS|20545.0|    1.0|20549.0|    1.0|
|2016.0|   4.0| 101.0|    ATL|20545.0|    1.0|20549.0|    1.0|
|2016.0|   4.0| 101.0|    ATL|20545.0|    1.0|20561.0|    2.0|
|2016.0|   4.0| 101.0|    ATL|20545.0|    1.0|20578.0|    2.0|
|2016.0|   4.0| 101.0|    ATL|20545.0|    1.0|20611.0|    2.0|
|2016.0|   4.0| 101.0|    HOU|20545.0|    1.0|20554.0|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|   null|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|   null|    2.0|
|2016.0|   4.0| 101.0|    NYC|20545.0|    1.0|20561.0|    2.0|
+------+------+------+-------+-------+-------+-------+-------+
only showing top 20 rows

Checking are row counts same as the source.

 `i94_table`

In [55]:
checking_tables = lambda x: True if x == kdf.shape[0] else False

In [56]:
num = i94_table.count()
checking_tables(num)

True

In [57]:
i94_table.count()

3092791

In [58]:
kdf.shape[0]

3092791

 `time_table`

In [59]:
checking_tables(time_table.count())

True

 `temp_table`

In [60]:
checking_temp_table = lambda x: True if x == kdf_tempratures.shape[0] else False

In [61]:
checking_temp_table(temp_table.count())

True

In [62]:
temp_table.show

In [63]:
fact_table.show

In [64]:
i94_table.show

In [65]:
time_table.show

# I executed all the cells before this cell and they were executed successfully.
Some cells throw **WARNING**, it is from the engine itself so that is not an error. If the execution of all cells doesn't work well.. I could provide something to prove that all cells have been executed well without any error.

This is the warning when I run `kdf.info()`:
<br>/opt/conda/lib/python3.6/site-packages/databricks/koalas/generic.py:406: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  FutureWarning,

If `kdf.info()` is not executed well, kindly make the cell `markdown` or do not run it.
<br> I use this `kdf.info()` to show how many nulls in the data, names of the columns and the datatype of each column.

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

* Has been provided in seperate file called `DataDictionary`

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

* The data was increased by 100x.<br>
I used Apache Spark to do all the processing data and create the model. The reason for this is because Spark can scale a lot of data and the library spark.sql has many tools to transform data. So, it is not problem if the data is increased while using Spark.

* The data populates a dashboard that must be updated on a daily basis by 7am every day.<br>
Use Airflow which is atuomated, has a dashboard feature and supports alerts (sending emails if a falure happens).

* The database needed to be accessed by 100+ people.<br>
The more people accessing the database the more CPU resources you need to get a fast experience. By using a distributed database you can improve your replications and partitioning to get faster query results for each user.

#### Tools of the projects:
As I talked in the first part of the capstone that I used 3 tools:
* Koalas
* Pandas
* Pyspark
these are my favourite tools that I'm familiar to deal Data with.
Otherwise, after many execution and data wrangling in this project I dicovered to cancel **pandas** due to execution time.
<br>For example, let's see time execution of gathering SAS Data (has `3096313` records) .
* `Koalas` : CPU times: user 464 ms, sys: 632 ms, total: 1.1 s, Wall time: 3min 3s.
* `Pandas` : CPU times: user 2min 21s, sys: 40.7 s, total: 3min 2s, Wall time: 21min 11s.
* `Spark` : CPU times: user 58.2 ms, sys: 3.19 ms, total: 61.4 ms, Wall time: 16.5 s.

Additionally, In Exploratory and Wrangling.
<br> I did these steps by `Koalas` because I prefer using Pandas and I'm used to deal with Data by Pandas.
<br> So, almost the whole project has been done by **Koalas** because has optimization in gathering and simplicity.